<div class="login">
 <form  id="loginfrm">
	<div class="groupfields">
		
		<label>Username: </label>
		
		<input type="text" ngModel #username="ngModel" name="username" (change)="log(username)" placeholder="Username">
		
		<div class="ds-error" *ngIf="username.touched && !username.valid">Username Required!</div>
		
	</div>
	<div class="groupfields">
		
		<label>Password: </label>
		
		<input type="password"  ngModel #password="ngModel" name="password" (change)="log(password)" value="" placeholder="Password">
	
		<div class="ds-error" *ngIf="password.touched && !password.valid">Password Required!</div>
	</div>
	<input type="submit" value="Submit">
 </form>
</div>
