<div class="login">
   <form action="#" id="loginfrm">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="email"  required type="text" ngModel #username="ngModel" name="username" (change)="log(username)" placeholder="Username" class="form-control" id="email" >
		<div class="alert alert-danger" *ngIf="username.touched && !username.valid">Username Required!</div>
		
	</div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password"  required ngModel #password="ngModel" name="password" (change)="log(password)" value="" placeholder="Password" class="form-control">
	<div class="alert alert-danger" *ngIf="password.touched && !password.valid">Password Required!</div>
	</div>
  
    <button type="submit" class="btn btn-default" (click)="login()">Login</button>
  </form>
 
</div>
