<div class="container">
			  <!-- Main component for a primary marketing message or call to action -->
			  <div class="jumbotron">
				<h1>Navbar example</h1>
				<p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
				<p>
				  <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
				</p>
			  </div>

</div> <!-- /container -->
<div class="container">

      <!-- Portfolio Item Heading -->
      <h1 class="my-4">Top Sales
        <small>Secondary Text</small>
      </h1>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8">
          <img class="img-fluid" src="http://placehold.it/750x500" alt="">
        </div>

        <div class="col-md-4">
          <h3 class="my-3">Project Description</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
          <h3 class="my-3">Project Details</h3>
          <ul>
            <li>Lorem Ipsum</li>
            <li>Dolor Sit Amet</li>
            <li>Consectetur</li>
            <li>Adipiscing Elit</li>
          </ul>
        </div>

      </div>
      <!-- /.row -->

      <!-- Related Projects Row -->
      <h3 class="my-4">Products</h3>

      <div class="row">

      

        <div class="col-md-3 col-sm-6 mb-4" *ngFor="let product of products">
            <h4><a routerLink="/details/{{product._id}}" routerLinkActive="active">{{product.productname}} </a></h4> 
			<p>{{product.productDescription}}</p>
			<a href='#' class="btn btn-primary">Add to Cart</a>
        </div>

      </div>
      <!-- /.row -->

    </div>
